{{> head }}

{{!-- Para importar el navbar --}}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>One Piece</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quaerat atque amet vel deserunt aut corporis quidem praesentium accusamus perferendis incidunt, quasi sunt facilis! Deleniti non ex quasi! Suscipit, quidem!</p>
        </div>

        <div class="col-4">
            <img src="assets/img/one.jpg" alt="img-thumbnail">
        </div>
    </div>

{{> footer}}   

